.card{
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: #0000FF;
    height: 350px;
}

.usersCard{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}